.smooth-image-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  .smooth-image {
    object-fit: contain;
    transition: opacity 1s;
    width: 100%;
    height: 100%;
  }

  .smooth-no-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    background-color: rgba(0,0,0,0.1);
    text-transform: capitalize;
  }

  .img-visible {
    opacity: 1;
  }

  .img-hidden {
    opacity: 0;
  }

  @keyframes preloader-block {
    from {
      background-position: 0%, 0;
    }
    to {
      background-position: 170%, 0;
    }
  }

  .smooth-preloader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(238, 238, 238, 0.34);
    .loader {
      background-image: linear-gradient(to right, #e6e6e6, #ffffff, #e6e6e6);
      height: 100%;
      width: 100%;
      display: inline-block;
      background-size: 600px;
      animation: preloader-block 1s linear 0s infinite reverse forwards;
    }
  }
}